{% load url from future %}
<!doctype html>
<html lang="pl">

<head>
    <title>{{ site.name }} Registration </title>
</head>

<body>
<p>
    Otrzymano prośbę rejestracji konta na stronie {{ site.name }}.
    Jeżeli to nie Ty chciałeś się u nas zarejestrować, zignoruj tą wiadomość.
</p>
<p>
    Aby aktywować konto, kliknij w niżej zamieszczony link w ciągu
    {{ expiration_days }} dni:
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        http://{{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
    Pozdrawiam,
    Administrator
</p>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.models.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{% url 'registration_activate' activation_key %}

    or when using Django >= 1.7:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
