{% extends "registration/registration_base.html" %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
<center>
<form method="post" action="">
    <table>
    {% csrf_token %}
    {% for item in form %}
    <tr>
        <td>
            {% if item.name == "old_password" %}
            Stare hasło:
            {% elif item.name == "new_password1" %}
            Nowe hasło:
            {% elif item.name == "new_password2" %}
            Powtórz nowe hasło:
            {% endif %}
        </td>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Change password" />
</form>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
