{% extends "registration/registration_base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<center>
<p>
    Zapomniałeś hasła? Proszę podać adres e-mail powiązany z kontem, a wysłany zostanie
    link resetujący hasło.
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Wyślij" />
</form>
{% endblock %}
</center>


{# This is used by django.contrib.auth #}
