{% extends "registration/registration_base.html" %}

{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}
<center>
<p>
    Link resetujący hasło został wysłany na podany adres e-mail. Proszę sprawdzić skrzynkę.
</p>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
