{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<center>
<p>
    Hasło zostało zresetowane.
    Możesz się zalogować: <a href="{{ login_url }}">zaloguj</a>.
</p>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
