{% extends "registration/registration_base.html" %}

{% block title %}Confirm Password Reset{% endblock %}

{% block content %}
<center>
<p>Proszę podać nowe hasło.</p>
<form method="post" action="">
    {% csrf_token %}
    <table>
    {% for item in form %}
    <tr>
        <td>{% if item.name == "new_password1" %}
            Nowe hasło:
            {% elif item.name == "new_password2" %}
            Powtórz nowe hasło:
            {% endif %}
        </td>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
    <table>
    <input type="submit" value="Reset my Password" />
</form>
</center>
{% endblock %}


{# This is used by django.contrib.auth #}
