{% extends "registration/registration_base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<center>

<form method="post" action="">
    {% csrf_token %}

    <ul>
    {% for error in form.errors %}
        {% if error == "username" %}
        <li>
            <font color="red">Proszę podać login.</font>
        </li>
        {% elif error == "email" %}
        <li>
            <font color="red">Proszę podać poprawny adres e-mail.</font>
        </li>
        {% elif error == "password1" %}
        <li>
            <font color="red">Niepoprawne hasło.</font>
        </li>
        {% elif error == "password2" %}
        <li>
            <font color="red">Hasła nie pasują do siebie.</font>
        </li>
        {% endif %}
    {% endfor %}
    </ul>


    <font color="green">
        Hasło musi posiadać minimum 8 znaków, 1 cyfrę, 1 małą
        literę i 1 wielką literę.<br>
        Na adres e-mail nie będzie wysyłany spam.
    </font>
    <br>
    <br>
    <table>
    {% for item in form %}
    <tr>
        <td>
            {% if item.name == "username" %}
            Login:
            {% elif item.name == "email" %}
            E-mail:
            {% elif item.name == "password1" %}
            Hasło:
            {% elif item.name == "password2" %}
            Powtórz hasło:
            {% endif %}
        </td>
        <td>{{ item }}</td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Wyślij" />
</form>
</center>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
