{% extends "registration/registration_base.html" %}

{% block title %}Registration disabled{% endblock %}

{% block content %}
<center>
<p>Przepraszam, ale rejestracja została chwilowo zamknięta.</p>
</center>
{% endblock %}
