input {
    border-radius: 5px;
    background-color: #eee;
    border: solid #888 1px;
}

div.login_info {
    position: absolute;
    right: 1em;
}

div.menu_link {
    display: inline;
    margin: 5px;
    padding: 3px;
    background-color: #eee;
}
 
a.menu_link {
    text-decoration: none;
}

a.menu_link:hover {
    background-color: yellow;
}

div#everything {
    position: absolute;
    box-shadow: 10px 10px 5px #888888;
    left: 10%;
    right: 10%;
    top: 3%;
    bottom: 3%;
    background-color: #111;
}

div#top {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: #DDD;
}

div#middle {
    position: absolute;
    width: 100%;
    height: 76%;
    top: 20%;
    background-color: #eee;
}

div#bottom {
    position: absolute;
    width: 100%;
    height: 4%;
    top: 96%;
    background-color: #ddd;
}

div#left_menu {
    position: absolute;
    width: 75%;
    bottom: 2px;
}

div#right_menu {
    position: absolute;
    width: 25%;
    left: 75%;
    bottom: 1.5em;
}

div#inner_home {
    margin: 1em;
}

table#ajax_speedcams_table {
    position: relative;
    z-index:99;
    margin-top: 0.5em;
    background-color: #fff;
    border:1px solid black;
}

table#ajax_speedcams_table th {
    border:1px solid black;
    background-color: #aaa;
}

div#ajax_add_new_entry_button {
    display: inline;
    color: green;
    background-color: white;
    padding: 4px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid black;
}

div#ajax_add_new_entry_button:hover {
    background-color: yellow;
}

div#ajax_discard_table_button {
    display: inline;
    color: red;
    background-color: white;
    padding: 4px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid black;
}

div#ajax_discard_table_button:hover {
    background-color: yellow;
}

td.delete_row_button:hover {
    background-color: yellow;
}

td.delete_row_button:hover {
    background-color: yellow;
}

div#new_record_form {
    position: fixed;
    background-color: white;
    border: solid black 1px;
    top: 30%;
    z-index: 100;
}

div#form_header {
    background-color: #aaa;
    border-bottom: 1px solid black;
    text-align: center; 
    font-weight: bold;
}

div#form_header_X {
    display: inline;
    position: absolute;
    right: 1px;
    margin-right: 3px;
}
