{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load my_tags %}

<script src="{% static 'scripts/jquery.js' %}"></script>
<script src="{% static 'scripts/jquery-ui.js' %}"></script>
<script src="{% static 'scripts/admin_interface.js' %}"></script>

<center>
    <h3>Interfejs administracyjny</h3>

    {% new_record_form %}

    <a href="/admin/">Przejdź do bazy danych</a>
    <p onclick="show_speedcams_table()"><u>Pokaż tabelę fotoradarów</u></p>

    <div hidden id=speedcams_table_set>
        <div id=table_buttons>
            <div id=ajax_discard_table_button onclick="discard_table()">Schowaj tabelę</div>
            <div id=ajax_add_new_entry_button onclick="open_new_record_form()">Dodaj nowy wpis</div>
        </div>
        <table id=ajax_speedcams_table></table>
    </div>
</center>
{% endblock %}

