{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
</head>
<body>
<div id=everything>
    <div id=top>
        <center>
            <br>
            <font size=5>System informowania o kontrolach
                fotoradarowych</font>
            <br>
        </center>
        <br>
        <div id=left_menu>
            <br>
            <div class=menu_link>
                <a class=menu_link href="/">Strona główna</a>
            </div>
            {% if user.is_authenticated %}
            <div class=menu_link>
                <a class=menu_link href="/accounts/password/change/">Zmień hasło</a>
            </div>
            {% endif %}
            <div class=menu_link>
                <a class=menu_link href="https://play.google.com/store/apps/details?id=org.alpha.fotoradary">Pobierz aplikację</a>
            </div>
            {% if user.is_staff %}
            <div class=menu_link>
                <a class=menu_link href="/admin_interface/">Interfejs administracyjny</a>
            </div>
            {% endif %}

        </div>
        <div id=right_menu>
            {% if user.is_authenticated %}
            <div class=login_info>
                Zalogowano jako:
            </div>
            <br>
            <div class=login_info>
                {{ user.username }} <a href="/accounts/logout/">(wyloguj)</a>
            </div>
            {% else %}
            <div style="text-align:right;margin-right:1em">
            Nie jesteś zalogowany.
            </div>
            <div class=login_info> 
                <a href="/accounts/login/">(logowanie / rejestracja)</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div id=middle>
        <div id=inner_home>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id=bottom>
        <center>
            <font color=gray>praca inżynierska: Jakub Ligęza</font>
        </center>
    </div>
</div>
</body>
</html>
